.contacts {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 103px 125px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.contacts__text-wrapper {
  margin-left: 20px;
  max-width: 500px;
  min-width: 230px;
}

.contacts__description {
  @extend %mont-500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 32px;
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts__item {
  margin-bottom: 20px;


  &:last-of-type {
    margin-bottom: 0;
  }
}

.contacts__item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 18px;
  height: 22px;
  background-image: url("../img/svg/pointer-icon.svg");
  background-size: cover;
  background-position: center;
  fill: $antarctic-blue;
}

.contacts__item:last-of-type a::after {
  height: 18px;
  background-image: url("../img/svg/phone.svg");
}


.contacts__link {
  display: block;
  position: relative;
  columns: $antarctic-blue;
  padding-left: 28px;
}

.contacts__link address {
  font-style: normal;
}

.contacts__map {
  display: block;
  flex-shrink: 0;
}

@media (max-width: 1032.9px) {
  .contacts {
    padding: 100px 45px;
  }

  .contacts__map {
    width: 324px;
    height: 335px;
  }

  .contacts__text-wrapper {
    margin-left: 30px;
  }
}

@media (max-width: 767.9px) {
  .contacts {
    padding: 60px 15px 65px;
    flex-direction: column;
  }

  .contacts__text-wrapper {
    margin-left: 0;
    margin-bottom: 35px;
  }

  .contacts__map {
    width: 100%;
    height: 316px;
  }

  .contacts__description {
    margin-bottom: 27px;
  }

  .contacts__item a::after {
    top: 3px;
  }
}
