.cruise-card {
  position: relative;
  color: $ice-white;
  display: flex;
  flex-direction: column;
  background-color: $antarctic-blue;
  min-height: 386px;
  padding-top: calc(390 / 309 * 100%);
  overflow: hidden;

}

.cruise-card__content {
  padding: 30px 25px 35px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cruise-card::-webkit-scrollbar {
  width: 0;
}

.cruise-card:hover {
  overflow: scroll;
}

.cruise-card:focus-within {
  outline: 2px solid $antarctic-blue;
  outline-offset: 2px;
}

.cruise-card:hover .cruise-card__overlay,
.cruise-card:focus-within .cruise-card__overlay {
  z-index: -1;
}

.cruise-card__overlay--1 {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-1.webp");


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-1@2x.webp");
  }
}

.cruise-card__overlay--2 {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-2.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-2@2x.webp");
    }
}

.cruise-card__overlay--3 {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-3.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-3@2x.webp");
    }
}

.cruise-card__overlay--4 {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-4.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-4@2x.webp");
    }
}

.cruise-card__overlay--5 {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-5.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-5@2x.webp");
    }
}

.cruise-card__overlay--6 {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-6.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-6@2x.webp");
    }
}

.cruise-card__overlay--7 {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-7.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-7@2x.webp");
    }
}

.cruise-card__overlay--8 {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-8.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url("../img/cruise-card-8@2x.webp");
    }
}

.cruise-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top 0  right 45%;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-position: top 0  right 45%;
    background-size: cover;
  }
}

.cruise-card__overlay-subtitle {
  position: absolute;
  bottom: 25px;
  left: 30px;
  @extend %mont-500;
  font-size: 18px;
  line-height: 27px;
  color: $ice-white;
}

.cruise-card__subtitle {
  margin: 0;
  margin-bottom: 15px;
  @extend %mont-500;
  font-size: 18px;
  line-height: 27px;
  color: $ice-white;
}

.cruise-card__parameters-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cruise-card__parameters-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cruise-card__parameters-item:last-of-type {
  margin-bottom: 0;
}

.cruise-card__parameters-name {
  display: block;
  @extend %mont-500;
  font-size: 14px;
  line-height: 20px;
}

.cruise-card__parameters-value {
  display: block;
  color: $cold-grey;
  font-size: 14px;
  line-height: 20px;
}

.cruise-card__order-button {
  width: 100%;
  background-color: $ice-white;
  border: none;
  @extend %mont-600;
  font-size: 14px;
  line-height: 21px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.cruise-card__order-button:hover {
  opacity: 0.5;
}

@media (max-width: 1023.9px) {
  .cruise-card {
    position: relative;
    padding-top: calc(350 / 309 * 100%);
  }

  .cruise-card__content {
    padding: 30px 35px 30px;
  }

  .cruise-card__overlay-subtitle {
    left: 35px;
  }
}

@media (max-width: 767.9px) {

  .cruise-card__content {
    padding: 30px 25px 35px;
  }

  .cruise-card__overlay-subtitle {
    left: 25px;
    bottom: 18px;
  }
}
