.introduction {
  background-color: $antarctic-blue;
  background-image: url("../img/main-background.webp");
  background-size: cover;
  background-position: center;
  margin-top: -83px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  color: $ice-white;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main-background@2x.webp");
  }
}

.introduction__container {
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding: 273px 0 283px 198px;
}

.introduction__subtitle {
  margin: 0;
  margin-bottom: 10px;
  @extend %mont-700;
  font-size: 54px;
  line-height: 66px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.introduction__slogan {
  @extend %mont-400;
  font-size: 20px;
  line-height: 24px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 1023.9px) {
  .introduction {
    margin-top: -73px;
    filter: none;
  }

  .introduction__container {
    padding: 280px 0 275px 45px;
  }

  .introduction__subtitle {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 61px;
    filter: none;
  }

  .introduction__slogan {
    font-size: 18px;
    line-height: 22px;
    filter: none;
  }
}

@media (max-width: 767.9px) {
  .introduction {
    margin-top: -49px;
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 47% 23%;
  }

  .introduction__container {
    padding: 175px 0 177px 15px;
  }

  .introduction__subtitle {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 45px;
  }

  .introduction__slogan {
    font-size: 16px;
    line-height: 22px;
  }
}
