.main-footer {
  background-color: $antarctic-blue;
  flex: 0 0 auto;
}

.main-footer__container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 103px;
}

.main-footer__social-list {
  display: flex;
  min-width: 129px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: -8px;
}

.main-footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
}

.main-footer__social-item:last-of-type {
  margin-right: 0;
}

.main-footer__social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-footer__social-link:hover {
  opacity: 0.5;
}

.main-footer__social-link svg {
  fill: $ice-white;
}

@media (max-width: 1023.9px) {
  .main-footer__container {
    padding: 38px 45px 47px;
  }

  .main-footer__social-list {
    min-width: unset;
    margin-right: -12px;
  }

  .main-footer__social-item {
    width: 38px;
  }

  .main-footer__social-link svg {
    transform: scale(80%);
  }
}

@media (max-width: 767.9px) {
  .main-footer__container {
    padding: 40px 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-footer__social-list {
    margin-left: -15px;
  }
}
