.main-header {
  position: absolute;
  top: 0;
  padding: 35px 103px 0;
  z-index: 3;
  width: 100%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;

}

.main-header__menu-button {
  display: none;
}

.main-header__menu-button:hover {
  opacity: 0.5;
}

@media (max-width: 1023.9px) {
  .main-header {
    padding: 25px 45px 0;
  }
}

@media (max-width: 767.9px) {
  .main-header--opened {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 43, 102, 0.5);
    padding: 0;
    z-index: 3;
  }

  .main-header--closed {
    position:absolute;
    padding: 20px 15px 0;
    background-color: transparent;
  }

  .main-header__menu-button {
    display: block;
    position: absolute;
    top: 14px;
    right: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .main-header--opened button {
    width: 30px;
    height: 30px;
    top: 16px;
    right: 7px;
    background-image: url("../img/svg/close-button-icon.svg");
    background-size: 15px 15px;
  }

  .main-header--closed button {
    width: 46px;
    height: 34px;
    background-image: url("../img/svg/hamburger-icon.svg");
    background-size: 26px 14px;
  }

  .main-header--opened ~ .page__main-container .introduction__container {
    padding-bottom: 225px;
  }

}
