.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  margin-right: 33px;
  margin-bottom: 10px;
}

.navigation__item:last-of-type {
  margin-right: 0;
}

.navigation__link {
  @extend %mont-500;
  font-size: 16px;
  line-height: 20px;
  color: $ice-white;
}

.navigation__link:hover {
  opacity: 0.5;
}

@media (max-width: 1023.9px) {
  .navigation__item {
    margin-right: 24px;
  }

  .navigation__link {
    font-size: 14px;
    line-height: 17px;

    &--footer {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

@media (max-width: 767.9px) {
  .navigation--opened {
    position: relative;
    margin-left: 35px;
    background-color: $ice-white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 568px;
    padding: 20px 0 0 15px;
    overflow: scroll;

  }

  .navigation--opened::-webkit-scrollbar {
    width: 0;
  }

  .navigation--footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation--opened .navigation__logo svg {
    fill: $antarctic-blue;
  }

  .navigation--opened .navigation__link {
    font-size: 18px;
    line-height: 22px;
  }

  .navigation--opened .navigation__list {
    margin-top: 35px;
  }

  .navigation--opened .navigation__item {
    margin-bottom: 26px;
    margin-left: 10px;
  }

  .navigation__item--footer {
    margin-bottom: 8px;
  }

  .navigation__list {
    flex-direction: column;
  }

  .navigation__list--footer {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .navigation--opened .navigation__link {
    color: $antarctic-blue;
  }

  .navigation--closed {
    margin-left: 0;
    background-color: transparent;
    min-height: none;
    padding: 0;
  }

  .navigation--closed ul {
    display: none;
  }
}
