.page {
  height: 100vh;
  word-break: break-word;
}

.page__body {
  @extend %mont-400;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  line-height: 24px;
  color: $antarctic-blue;
}

.page__main-container {
  flex: 1 0 auto;
}

.page__section-subtitle {
  @extend %mont-600;
  font-size: 28px;
  line-height: 40px;
}

@media (max-width: 1023.9px) {
  .page__section-subtitle {
    font-size: 26px;
    line-height: 39px;
  }
}

@media (max-width: 767.9px) {
  .page__section-subtitle {
    font-size: 24px;
    line-height: 36px;
  }
}
